<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Alumnas</title>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<body>
    <nav id="logo">
        <img src="../assets/images/logo-lab.png" alt="laboratoria"> <!--logo-->
    </nav> 
    <section class="option">
	    <select name="sede" id="sede" onchange="cargarGeneracion()">
            <option value="">Seleccione sede...</option>
        </select>
        <select name="generacion" id="generacion">
            <option value="">Seleccione generacion...</option>
        </select>
    </section>
    <section class="click2">
        <button type="button" onclick="buscar()">alumnas</button>
        <button type="button" onclick="desercion()">% desercion</button>
        <button type="button" onclick="satisfaccion()">% satisfaccion</button>
        <button type="button" onclick="nps()">nps</button>
    </section>  
    <section id="global2"> 
        <img id="girl" src="../assets/images/girl.jpg" alt="perfil">
        <section class="user">
             <div>welcome</div>
             <div>amalia</div>
        </section>
        <div class="menu"><a href="../views/students.html" target="_blank">alumnas</a></div>
        <div class="menu"><a href="../views/evaluations.html" target="_blank">evaluaciones</a></div>
        <div class="menu"><a href="../views/staff.html" target="_blank">staff</a></div>
    </section>
    
    <section class="p1" id="active">
        
    </section>
    <section class="p2" id="percent-desert">
        
    </section>
    <section class="p3" id="percent-satifac">

    </section>
    <script src="../js/data.js"></script>
    <script src="../js/app.js"></script>
</body>
</html>